{% extends 'base.html' %}

{% block title %} Add student {% endblock %}

{% block 'body' %}
<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <h3 class="navbar-brand d-flex align-items-center">
        <strong>Full all fields to add new student</strong>
      </h3>
    </div>
  </div>
</header>
<div class="container">
  <div class="row align-items-centre">
    <div class="col">

    </div>
    <div class="col">
      <form method="POST" action="{% url 'page_add_student'%}">
    {% csrf_token %}
    {% for field in form %}
    <div class="col-md-6">
        {{field.name.capitalize}}
        </div>
        <div class="col-md-6">
        {{field}}
    </div>

    {% endfor %}

    <button type="submit" class="btn btn-primary">Add student</button>
</form>
    </div>
    <div class="col">

    </div>
  </div>
</div>

{% include 'footer.html' %}
{% endblock %}
